aioeasywebdav==2.4.0
aiohttp==3.6.2
appdirs==1.4.3
appnope==0.1.0
async-timeout==3.0.1
attrs==19.3.0
backcall==0.1.0
bcrypt==3.1.7
bleach==3.1.5
boto3==1.13.21
botocore==1.16.21
brotlipy==0.7.0
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cloudpickle==1.4.1
ConfigArgParse==1.2.3
cryptography==2.9.2
cycler==0.10.0
cytoolz==0.10.1
dask==2.17.2
datrie==0.8.2
decorator==4.4.2
defusedxml==0.6.0
docutils==0.15.2
dropbox==9.4.0
entrypoints==0.3
filechunkio==1.8
ftputil==3.4
gitdb==4.0.5
GitPython==3.1.3
google-api-core==1.17.0
google-auth==1.16.0
google-cloud-core==1.3.0
google-cloud-storage==1.28.1
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
idna==2.9
imageio==2.8.0
importlib-metadata==1.6.0
ipykernel==5.3.0
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
kiwisolver==1.2.0
mamba==0.3.0
MarkupSafe==1.1.1
matplotlib==3.1.3
mistune==0.8.4
mkl-random==1.1.1
mkl-service==2.3.0
multidict==4.7.5
natsort==7.0.1
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.4
notebook==6.0.3
numpy==1.18.1
olefile==0.46
packaging==20.4
pandas==1.0.3
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
prettytable==0.7.2
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.12.3
psutil==5.7.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycosat==0.6.3
pycparser==2.20
Pygments==2.6.1
pygraphviz==1.5
PyNaCl==1.3.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
pysftp==0.2.9
PySocks==1.7.1
python-dateutil==2.8.1
python-irodsclient==0.8.2
python-Levenshtein==0.12.0
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.1
ratelimiter==1.2.0
requests==2.23.0
rsa==4.0
ruamel-yaml==0.15.87
s3transfer==0.3.3
scikit-image==0.16.2
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
six==1.14.0
smmap==3.0.4
snakemake==5.5.4
statsmodels==0.11.1
terminado==0.8.3
testpath==0.4.4
toolz==0.10.0
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.1.9
webencodings==0.5.1
wrapt==1.12.1
xmlrunner==1.7.7
yarl==1.3.0
zipp==3.1.0
